@model Probando.Models.LoginModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

<div class="col-md-9">

    <form id="myForm">
        <div class="form-group">
            <div class="col-md-12">
                <h4>Iniciar Sesión:</h4>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.usuario, new { @class = "form-control", @placeholder = "Usuario" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <a class="btn btn-primary " onclick="LoginUser()" style="margin-top:2%;">Enviar</a>
            </div>
        </div>
    </form>
</div>
<script>

    var Login = function () {
        debugger
        var data = $("#myForm").serialize();

        $.ajax({
            type: "Post",
            url: "../Home",
            data: data,
            success: function (response) {
                debugger
                if (response == "fail") {

                    window.location.href = "/Test/Login";
                }
                else if (response == "Admin") {

                    window.location.href = "/Test/Admin";
                }
                else {

                    window.location.href = "/Test/Index";
                }
            }



        })



    }
</script>

