@model Probando.Models.LoginModel

@{

    ViewBag.Title = "Index";

}

<script language="javascript">

    function display() {

        if ($("#txtusername").attr("value") == "") {

            alert("Ingresa tu Nombre de Usuario.");

            return false;

        } else if ($("#txtuserpassword").attr("value") == "") {

            alert("Por favor ingrese su contraseña.");

            return false;

        }

        alert("Login Successfully");

        return true;

    }

</script>

    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <p>Bienvenido a</p>
                        <h3 class="heading">ServiExpres</h3>
                        <p>Contactanos para cualquier consulta y reservas de hora</p>
                        <footer><a class="btn inverse" href="../../reservaasp/Index.aspx">Agenda tu hora</a></footer>
                    </article>
                </li>
                <li>
                    <article>
                        <p>Encontraras</p>
                        <h3 class="heading">MECÁNICA INTEGRAL</h3>
                        <p>En SERVIEXPRESS realizamos todo tipo de servicios relacionados con mantención para Autos, Camionetas y Camiones. Atendemos de Lunes a Sabado.</p>
                        <footer><a class="btn inverse" href="../../reservaasp/Index.aspx">Agenda tu hora</a></footer>
                    </article>
                </li>
                <li>
                    <article>
                        <p>Encontraras</p>
                        <h3 class="heading">REALIZAMOS SCANNER MULTIMARCAS</h3>
                        <p>En SERVIEXPRESS contamos con servicios de Scanner para todas las marcas y modelos</p>
                        <footer><a class="btn inverse" href="../../reservaasp/Index.aspx">Registrate y agenda</a></footer>
                    </article>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>


    @using (Html.BeginForm("Index", "Home"))
    {

        <div class="wrapper row3 coloured">
            <main class="hoc container clear">
                <!-- main body -->
                <!-- ################################################################################################ -->

                <div id="introblocks">
                    <ul class="nospace group">
                        <li class="one_third first">
                            <article>
                                <div>
                                    <h6 class="heading">Revisión de Kilometraje</h6>                                    
                                </div>
                                <img src="images/demo/320x180.png" alt="">
                                <footer><a href="../Servicio/Details">Más Detalles</a></footer>
                            </article>
                        </li>
                        <li class="one_third">
                            <article>
                                <div>
                                    <h6 class="heading">Mantenimiento</h6>                                    
                                </div>
                                <img src="images/demo/320x180.png" alt="">
                                <footer><a href="#">More Details</a></footer>
                            </article>
                        </li>
                        <li class="one_third">
                            <article>
                                <div>
                                    <h6 class="heading">Cambio de aceite</h6>                                    
                                </div>
                                <img src="images/demo/320x180.png" alt="">
                                <footer><a href="#">More Details</a></footer>
                            </article>
                        </li>
                    </ul>
                </div>                
                <!-- ################################################################################################ -->
                <!-- / main body -->
                <div class="clear"></div>
            </main>
        </div>
        <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
            <section class="hoc container clear">
                <!-- ################################################################################################ -->
                <div class="sectiontitle center">
                    <h3 class="heading">Servicios</h3>
                    <p>Estamos orientados en brindar la mejor atención y servicio en la mantención de su vehículo, dándole un valor agregado y ofreciéndole la seguridad que su inversión siempre estará en buenas manos.</p>
                </div>
                <ul class="nospace group center">
                    <li class="one_third first">
                        <article>
                            <a href="Revision.aspx"><i class="btmspace-30 icon fa fa-500px"></i></a>
                            <h2 class="heading">REVISÍON POR KILOMETRAJE</h2>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <a href="Mantenimiento.aspx"><i class="btmspace-30 icon fa fa-envira"></i></a>
                            <h2 class="heading">Mantenimiento</h2>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <a href="Cambio.aspx"><i class="btmspace-30 icon fa fa-empire"></i></a>
                            <h2 class="heading">CAMBIO DE ACEITE</h2>
                        </article>
                    </li>
                </ul>
                <ul class="nospace group center">
                    <li class="one_third first">
                        <article>
                            <a href="TrenDelantero.aspx"><i class="btmspace-30 icon fa fa-500px"></i></a>
                            <h2 class="heading">TREN DELANTERO</h2>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <a href="Freno.aspx"><i class="btmspace-30 icon fa fa-envira"></i></a>
                            <h2 class="heading">FRENOS</h2>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <a href="Diagnostico.aspx"><i class="btmspace-30 icon fa fa-empire"></i></a>
                            <h2 class="heading">DIAGNÓSTICO Y SCANNER</h2>
                        </article>
                    </li>
                </ul>
                <ul class="nospace group center">
                    <li class="one_third first">
                        <article>
                            <a href="Motor.aspx"><i class="btmspace-30 icon fa fa-500px"></i></a>
                            <h2 class="heading">MOTOR</h2>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <a href="Transmision.aspx"><i class="btmspace-30 icon fa fa-envira"></i></a>
                            <h2 class="heading">TRANSMISIONES</h2>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <a href="Electronica.aspx"><i class="btmspace-30 icon fa fa-empire"></i></a>
                            <h2 class="heading">ELECTRÓNICA Y PROGRAMACIÓN</h2>
                        </article>
                    </li>
                </ul>
                <!-- ################################################################################################ -->
            </section>
        </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <div class="wrapper row3">
                <div class="hoc container clear">
                    <!-- ################################################################################################ -->
                    <div class="group">                        
                        <section class="one_half">
                            <h6 class="heading btmspace-50">contacto</h6>
                            <p>Ingresa tus datos en el siguiente formulario y presiona el botón enviar. Te contactaremos a la brevedad.</p>
                            <form id="newsletter" method="post" action="#">
                                <fieldset>
                                    <legend>Newsletter:</legend>
                                    <input class="btmspace-15" type="text" value="" placeholder="Email" />
                                    <button type="submit" value="submit">Submit</button>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                    <!-- ################################################################################################ -->
                </div>
            </div>
        
        
    }
