@model IEnumerable<Probando.Models.Servicio>

@{
    
    
    ViewBag.Title = "Index";

}


<script language="javascript">

    function display() {

        if ($("#txtusername").attr("value") == "") {

            alert("Ingresa tu Nombre de Usuario.");

            return false;

        } else if ($("#txtuserpassword").attr("value") == "") {

            alert("Por favor ingrese su contraseña.");

            return false;

        }

        alert("Login Successfully");

        return true;

    }

</script>

    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <p>Bienvenido </p>@Session["usuario"]
                        <h3 class="heading">ServiExpres</h3>
                        <p>Contactanos para cualquier consulta y reservas de hora</p>
                        <footer><a class="btn inverse" href="../../reservaasp/Index.aspx">Agenda tu hora</a></footer>
                    </article>
                </li>
                <li>
                    <article>
                        <p>Encontraras</p>
                        <h3 class="heading">MECÁNICA INTEGRAL</h3>
                        <p>En SERVIEXPRESS realizamos todo tipo de servicios relacionados con mantención para Autos, Camionetas y Camiones. Atendemos de Lunes a Sabado.</p>
                        <footer><a class="btn inverse" href="../../reservaasp/Index.aspx">Agenda tu hora</a></footer>
                    </article>
                </li>
                <li>
                    <article>
                        <p>Encontraras</p>
                        <h3 class="heading">REALIZAMOS SCANNER MULTIMARCAS</h3>
                        <p>En SERVIEXPRESS contamos con servicios de Scanner para todas las marcas y modelos</p>
                        <footer><a class="btn inverse" href="../../reservaasp/Index.aspx">Registrate y agenda</a></footer>
                    </article>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>


   

        <div class="wrapper row3 coloured">
            <main class="mx-auto"> <img src="~/Content/images/demo/backgrounds/baner.jpg" class="rounded"> </main>
        </div>
        <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
            <section class="hoc container clear">
                <!-- ################################################################################################ -->
                <div class="sectiontitle center">
                    <h3 class="heading">Servicios</h3>
                    <p>Estamos orientados en brindar la mejor atención y servicio en la mantención de su vehículo, dándole un valor agregado y ofreciéndole la seguridad que su inversión siempre estará en buenas manos.</p>
                </div>
                <ul class="nospace group center">
                    @{ int i = 0;}

                    @foreach (var item in Model)
                    {

                        if (i == 0)
                        {

                        <li class="one_third first">
                            <article>
                                <a href="#"><i class="btmspace-30 icon fa fa-500px"></i></a>
                                <h2 class="">@Html.DisplayFor(modelItem => item.nombre)</h2>
                            </article>
                        </li>
                        }
                        if (i >0 && i<3)
                        {
                        
                        <li class="one_third">
                            <article>
                                <a href="#"><i class="btmspace-30 icon fa fa-500px"></i></a>
                                <h2 class="">@Html.DisplayFor(modelItem => item.nombre)</h2>
                            </article>
                        </li>

                        }
                        i++;
                        if (i == 3){
                            i = 0;
                        }
                    }
                </ul>

                        <!-- ################################################################################################ -->
</section>
        </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <div class="wrapper row3">
                <div class="hoc container clear">
                    <!-- ################################################################################################ -->
                    <div class="group">                        
                        <section class="one_half">
                            <h6 class="heading btmspace-50">contacto</h6>
                            <p>Ingresa tus datos en el siguiente formulario y presiona el botón enviar. Te contactaremos a la brevedad.</p>
                            <form id="newsletter" method="post" action="#">
                                <fieldset>
                                    <legend>Newsletter:</legend>
                                    <input class="btmspace-15" type="text" value="" placeholder="Email" />
                                    <button type="submit" value="submit">Submit</button>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                    <!-- ################################################################################################ -->
                </div>
            </div>
        
        
    
